header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .nav-bar {
    margin: 0;
    div {
      padding: 0 0.5rem;

      &.about-box {
        border-left: 1px solid var(--color-text-secondary);
        border-right: 1px solid var(--color-text-secondary);
      }
    }
  }

  .color-toggle-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--color-text-secondary);
    width: 60px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;

    .color-toggle {
      @keyframes dark-to-light {
        0% {
          transform: translateX(-14px);
        }
        100% {
          transform: translateX(14px);
        }
      }

      @keyframes light-to-dark {
        0% {
          transform: translateX(14px);
        }
        100% {
          transform: translateX(-14px);
        }
      }

      width: 25px;
      height: 25px;
      border-radius: 12.5px;
      background-color: var(--color-bg-secondary);
      border: 0px;
      padding: 0;
      margin: 0 5px;
    }
  }
}
