.welcome-to-kbs {
  background-color: var(--color-bg);
  min-width: 70vw;
  max-width: 90vw;

  padding: 2rem;
  border-radius: 1vh;
  box-shadow: 0px 0px 20px #000;

  .hello {
    color: var(--color-text);
  }

  .description {
    color: var(--color-text);
  }
}